/*
font-family: 'Russo One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Lato', sans-serif;
*/
body{
    font-family: 'PT Sans', sans-serif !important;
}
a{
    color: #333;
    text-decoration: none;
}

.pagination{
    margin-top: 30px;
}
.pagination .active .page-link{
    background: #fc3 !important;
    border-color: #ddd;
    color: #333;
}

/* Кнопка "Наверх" */
#toTop {
    display: none;
    width: 65px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 15px; /* отступ кнопки от нижнего края страницы*/
    left: 15px;
    cursor: pointer;
    color: #333;
    opacity: 0.7;
}

#toTop i {
    font-size: 30px;
}

@media screen and (max-device-width: 768px) {
    #toTop {
        display: none;
        width: 50px;
        border-radius: 40px;
        border: 1px solid #ccc;
        background: #f7f7f7;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 15px; 
        left: 15px;
        cursor: pointer;
        color: #333;
        opacity: 0.7;
    }

    #toTop i {
        font-size: 25px;
    }
}

#toTop:hover {
    opacity: 0.9;
}


/*========================================*/
.loader {
  position: relative;
  margin: auto;
  /*top: calc(50% - 32px);
  left: calc(50% - 32px);*/
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #333;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #555;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #777;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/*========================================*/

.zapis{
    background: #FDC830;  
    background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F37335, #FDC830);
    padding-top: 30px; 
    padding-bottom: 30px; 
}
.zapis .form{
    background: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #000;
}
.zapis input,.zapis textarea{
    display: block;
    color: #666;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 5px;
}
.zapis button{
    display: block;
    background: #fc3;
    border: 0px;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
}

.block-title{
    font-weight: 700;
    font-size: 30px;color: #333 !important;padding-left: 5px;
    padding-top: 30px;
}


.content-area .col-md-12{
    padding: 0px !important;
}
.content-area .area-title{
    border-bottom: 3px solid #fc3;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.content-area .area-img{
    width: 100%;
}

/*HEADER*/
.header{
    
}
.head-name{
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
}
.head-slogan{
    font-size: 14px;
}
.head-phone{
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
}
.head-address{
    font-size: 14px;
}
@media screen and (max-width: 755px){
    .head-address, .head-phone{
        text-align: center;
        font-size: 16px;
    }
    .head-name,.head-slogan{
        text-align: center !important;
    }
    .head-info{
        padding: 0px !important;
        margin: 0px;
    }
    .block-name,.block-phone,.block-work{
        padding-bottom: 15px;
    }
    .block-phone{
        position: absolute;
        left: 0px;
        bottom: 30px;
        width: 100%;
        background: #fc3;
    }
    .block-phone a{
        color: #333;
    }
    .block-phone .icofont{
        font-size: 100px;
        padding-bottom: 20px; 
        text-decoration: none;
    }
    .block-phone a:hover,.block-phone a:focus{
        text-decoration: none;color: #000;text-transform: none;
    }
    .site-info{
        height: 100vh;
        background: #fc3;
    }
}

.fixed-menu{
    position:fixed;
    left:0px;
    top:0px;
    z-index:100;
    background:#fff;
    box-shadow: 0 0 5px #000;
}
.fixed-menu li{
    padding-left: 15px;
}

/*SLIDER*/
.header-slider{
    height: 500px !important;
    max-height: 100vh;
}
.carousel-item{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/*FILTER*/
.filter-form{}
.filter-form label{padding: 0px; margin: 0px; font-size: 12px;}
.filter-form input, .filter-form select{
    display: block;
    width: 100%;
}
.card {
    border: 1px solid rgba(200,200,200,.125) !important;
}
.card-header{
    padding: 0px !important;
    margin: 0px !important;
    background: #ffc107 !important;
}
.card-header button{
    color: #333;
}
.card-header button:hover{
    color: #000;
    text-decoration: none;
}

/*PRODUCT BLOCK*/
.product{
    padding: 15px;
    padding-bottom: 40px;
}
.product-cell{
    transition: 0.2s transform linear;
}
.product-cell:hover{
    /*border-color: #faa !important;*/
    transform: scale(1.05,1.05);
    background: #fff;
    z-index: 10;
    box-shadow: 0 0 5px #666;
}
.product-img img{
    width: 100%;
}
.product-name{
    text-align: center;
    margin-bottom: 15px;
}
.product table{
    margin-top: 15px;
    font-size: 12px;    
    width: 100%;
    color: #666;
}
.product table tr{
    border-bottom: 1px solid #ddd;
}
.product table tr:last-child{
    border: 0px;
}
.product table td{
    padding: 2px 0px;
}
.product tr td:last-child{
    text-align: right;
}
.product-more{
    margin: 15px 0px;
}
.product-price{
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    margin: 15px 0px;
    text-align: right; 
}
.product .btn-group{
    width: 100%;
}
.product .btn-group i{
    font-size: 20px;
}
.product .btn-group .btn{
    font-size: 12px;
    width: 50%;display: inline-block;
}
.product .small-visible{
    margin-top: 15px;
    font-size: 10px;
}
.bs{
    position: absolute;bottom: 15px;left: 0px;width: 100%;
}
.small-visible{
    display: none;
}
@media screen and (max-width:755px){
    .product table{
        display: none;
    }
    .small-visible{
        display: block;
    }
}

.content-area img{
    max-width: 100%;
}
.content-area table,.content-area tr,.content-area td{
    border:1px solid #ccc;
}
.content-area td{
    padding: 5px;
}


.content-area .responsive {
  table-layout: fixed;
  width: 400px;
  word-wrap: break-word;
}

.responsive th, .responsive td {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
}

@media screen and (max-width: 800px) {

  .responsive table, .responsive tbody, .responsive tfoot, .responsive tr, .responsive td {
    display: block;
  }

  .responsive td:first-child{
    background: #fc3 !important;
  }
  .responsive thead, .responsive th {
    display: none;
  }
}


/*NEWS*/
.news-slider {

}
.news-back{
    color:#555;
    padding-top: 15px;padding-bottom: 30px;
}
.news-slider .item-block {
    margin: 0px;
    border-radius: 0px;
    border:3px solid #fff;
    border-right: 0px;
    /*background: rgba(255,255,255,1);*/
}

.news-slider img{
    display: block;width: 100%;
}
.news-slider .date{
    position: absolute;
    right: 10px;
    top: 0px;
    background: #fff;
    font-size: 10px;
}
.news-slider .title{
    margin: 5px 0;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.news-slider .white-bg{
    background: rgba(255,255,255,0)
}
.news-slider .white-bg:hover{
    background: rgba(255,255,255,0.8)
}

.news-slider .description{
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    color: #333;
}
.newslist{
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.newslist img{
    width: 100%;
    height: auto;
}
.itemnews{
    margin-top: 25px;
    margin-bottom: 25px; 
}
.itemnews img{
    width: 100%;
    height: auto;
}

/*myquality*/
.myquality{
    text-align: center;
    background:#ffc107;
    padding-top:25px;
    padding-bottom: 25px;
}
.myquality i{
    display: block;font-size: 100px;
    margin-bottom: 15px; 
    transition: transform 1s linear;
}
.myquality i:hover{
    transform: rotate(360deg);
}
.myquality span{
    display: block;font-size: 20px;text-align: center;font-weight: 300;color: #666;
}


/*FEEDBACK*/
.feedback{

}
.feedback-block{
  margin-bottom: 30px;
  font-weight: 300;
  color: #444;
  border:1px solid #ddd;
  padding: 15px;
}

.feedback-block:hover{
  animation: tintin 0.3s linear;
}
@keyframes tintin{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(5px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-5px);
  }
  100%{
    transform: translateX(0px);
  }
}
.feedback .img{
    background-size: cover !important;
    background-position: center !important;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
}
.feedback-name{
  display: block;
  font-size: 25px;
  margin: 20px 0;
  width: auto;
  border-bottom: 3px solid #fc3;
}
.feedback-message{
  font-size: 15px;
}


.fly-img{
    animation: fly 2s linear infinite;
    display: block;
    position: relative;
}
@keyframes fly{
    0%{
        transform: translateY(0px); 
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}


/*FOOTER*/
.footer{
    background: #333;
}
.footer div[class="row h-100"] {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*MODAL*/
#modalProduct img{
    width: 100%;
    display: block;
}
#modalProduct .description{
    text-align: justify;
    font-size: 12px;
    color: #666;
}
#modalProduct table{
    width: 100%;
}
#modalProduct tr{
    border-bottom: 1px solid #ddd;
}
#modalProduct tr:last-child{
    border:0px;
}
#modalProduct tr td:last-child{
    text-align: right;
}
#modalProduct .price{
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
}
@media screen and (max-width: 800px){
    #modalProduct .price{
        font-size: 16px;
    }
}

#modalCart img{
    width: 70px;
    height: auto;
}
#modalCart td, #modalCart th{
    border:0px;
    vertical-align: middle;
}
.bold-price{
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    padding-top: 1rem;
}

/*MAGELAN*/
.fixed-magelan{
    position: fixed;
    top: 60px;
}
.bottom-magelan{
    position: absolute;
    bottom: 0px;
}


.dropdown-item.active, .dropdown-item:active {
    color: #f8f9fa !important;
    background-color: #343a40 !important;
}